.col {
  padding-left: 0;
  padding-right: 6px;
}
.add {
  margin: 0;
}
.close {
  background-color: white;
  margin-left: 0.5em;
  align-self: center;
  cursor: pointer;
}
.addlist {
  display: flex;
}
.add-list {
  display: none;
  margin-bottom: 5px;
}
