.listContainer {
  margin: 0 3%;
  display: flex;
  height: 60em;
  overflow: auto;
}
.boardName {
  color: white;
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 0.9em;
}
.listContainer::-webkit-scrollbar {
  display: none;
}
