.boardText {
  margin: 0;
  color: #fff;
  font-family: fantasy;
  text-decoration: underline;
  margin-top: 0.3em;
}
.btn {
  margin-top: 1em;
}
.boardContainer {
  display: flex;
  margin: 1.5% 10% 0 10%;
  flex-wrap: wrap;
  background-color: transparent;
}
.board-head {
  margin-left: 6em;
}
